= form_for [@labour.project, @labour] do |f|
  -if @labour.errors.any?
    #error_explanation
      %h2= "#{pluralize(@labour.errors.count, "error")} prohibited this labour from being saved:"
      %ul
        - @labour.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :weekend_date, "ہفتہ وار تاریخ"
    = f.date_select :weekend_date
  .form-group
    = f.label :weekly_expense, "ہفتاور خرچہ"
    = f.number_field :weekly_expense, required: true, class: "form-control"

  .actions
    = f.submit class: "btn btn-success" do
      %i.fa.fa-save
