= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :address
    = f.text_field :address
  .field
    = f.label :started_on
    = f.date_select :started_on
  .field
    = f.label :completed_on
    = f.date_select :completed_on
  .field
    = f.label :finished
    = f.check_box :finished
  .field
    = f.label :owner_name
    = f.text_field :owner_name
  .field
    = f.label :size
    = f.text_field :size
  .actions
    = f.submit 'Save'
