%h1 Listing projects

%table
  %thead
    %tr
      %th Name
      %th Address
      %th Started on
      %th Completed on
      %th Finished
      %th Owner name
      %th Size
      %th
      %th
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.address
        %td= project.started_on
        %td= project.completed_on
        %td= project.finished
        %td= project.owner_name
        %td= project.size
        %td= link_to 'Show', project
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Project', new_project_path
