.mb-4
  = link_to  projects_path, class: "btn btn-primary" do
    %i.fa.fa-arrow-left
.card
  .card-body
    %h2.card-title.d-flex.justify-content-between.mb-4
      %span
        =@project.name
      %div
        = link_to edit_project_path(@project), class: "btn btn-warning mr-2" do
          %i.fa.fa-edit
        = link_to @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do
          %i.fa.fa-trash
    %p
      %b Address:
      = @project.address
    %p
      %b Starting Date:
      = @project.started_on
    %p
      %b Owner name:
      = @project.owner_name
    %p
      %b Size:
      = @project.size
    %p
      %b Total Expense:
      #{@project.total_expense}/-
    %hr/
    .container
      .row
        = render 'material_index'
        = render 'labour_index'
