.mb-4
  = link_to  projects_path, class: "btn btn-primary" do
    %i.fa.fa-arrow-left
.card
  .card-body
    %h2.card-title.d-flex.justify-content-between.mb-4
      %span
        =@project.name
      %div
        = link_to edit_project_path(@project), class: "btn btn-warning mr-2" do
          %i.fa.fa-edit
        -# = link_to @project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" do
        -#   %i.fa.fa-trash
    .text-right
      %p
        %b Address :
        = @project.address
      %p
        %b تاریخ شروعات:
        = @project.started_on
      %p
        %b کلائنٹ کا نام:
        = @project.owner_name
      %h4
        %b مکمل خرچہ: -/
        #{@project.total_expense}
      %p
        %b size:
        = @project.size
    %hr/
    .container
      .row
        = render 'material_index'
        = render 'labour_index'
