= form_for [@material.project, @material] do |f|
  -if @material.errors.any?
    #error_explanation
      %h2= "#{pluralize(@material.errors.count, "error")} prohibited this material from being saved:"
      %ul
        - @material.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.select :name, Material::MATERIAL_OPTIONS, required: true, class: "form-control"
  .form-group
    = f.label :purchase_date
    = f.date_select :purchase_date
  .form-group
    = f.label :per_unit_price
    = f.text_field :per_unit_price, required: true, class: "form-control"
  .form-group
    = f.label :quantity
    = f.number_field :quantity, required: true, class: "form-control"
  .form-group
    = f.label :category
    = f.text_field :category

  .actions
    = f.submit class: "btn btn-success" do
      %i.fa.fa-save
