.card
  .card-body
    %p
      %b نام:
      = @material.name
    %p
      %b خریداری کی تاریخ:
      = @material.purchase_date
    %p
      %b فی آئٹم لاگت:
      = @material.per_unit_price
    %p
      %b مقدار:
      = @material.quantity
    %p
      %b لاگت:
      = @material.quantity * @material.per_unit_price
    %p
      %b شے کا نام:
      = @material.category

  = link_to edit_project_material_path(@material.project, @material), class: "btn btn-warning" do
    %i.fa.fa-edit

  = link_to  project_path(@material.project), class: "btn btn-primary" do
    %i.fa.fa-arrow-left
