!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ArifEngineeringConstructionManagement
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css", integrity: "sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l", crossorigin: "anonymous"}
    %script{src: "https://use.fontawesome.com/045009029f.js"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container.pt-5
      %p.notice= notice
      %p.alert= alert
      = yield
